<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Moodify</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    
    <body>
      <div class="container">
        <h3>Get Tweets from Username</h3>
        <form action="/get_tweets/" method="GET">
          <label for="get-tweets">Username: </label>
          <input id="get-tweets" type="text" name="Username" value="{{ current_name }}">
          <input type="submit" value="Search">
        </form>
      </div> <!-- /container -->
    </body>
</html>